<div>
  <h2>Add a Box</h2>
  <form>
    <label>
      Size:
      <input type="number" [(ngModel)]="size" name="size">
    </label>
    <label>
      Description:
      <textarea [(ngModel)]="description" name="description"></textarea>
    </label>
    <label>
      Shipping Label Code:
      <input type="text" [(ngModel)]="shippingLabelCode" name="shippingLabelCode">
    </label>
    <label>
      Recipient:
      <input type="text" [(ngModel)]="recipient" name="recipient">
    </label>
    <label>
      Weight:
      <input type="number" step="0.01" [(ngModel)]="weight" name="weight">
    </label>
    <label>
      Shipping Company:
      <input type="text" [(ngModel)]="shippingCompany" name="shippingCompany">
    </label>
    <button type="button" (click)="addBox()">Add Box</button>
  </form>
</div>

<div>
  <h2>List of Boxes</h2>
  <div *ngFor="let box of boxes">
    <app-box [box]="box"></app-box>
  </div>
</div>
